body{
    
    position: relative;
}



.my-2{
    border: .5px solid black;
}
#headline{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#aboutMe{
    background-image:linear-gradient(salmon, red);
    margin-bottom: 30px;
    border-radius: 5px 5px 5px 5px;
    width: 95%;
    margin-left:2.5%;
}

#links{
    font-size: 1.5em;
    background-color:rgb(27, 44, 44);
    margin-bottom: 75px;
    padding-left: 20px;
}
#links ul{
    font-weight: 500;
   
    font-family: 'Source Code Pro', monospace;
    color:white;
}
#links a{
    
    color:darkorange;
}

#links #last{
    border-right: 2px solid white;
    margin: 0 auto;
   
   animation:
    blink-caret .85s step-end infinite;
}
.pageBreak{
    border: 1px solid black;
    border-radius:
}
.nbar{
    margin-top:0px;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white; }
  }

.header-link:hover{
    text-decoration: none;
}

.project-hl{
    color:white;
    background-color:limegreen;
}
.nav-link{
    color:salmon;
    text-decoration: none !important;
}




#prologue{
    height:100vh;
    width:auto;
    background-color: white;
    background-color: salmon;
}

#prologue blockquote{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 35vh;
    font-size:4em;
    line-height: 1.1;
}

#down-arrow{
 font-size: 300px;
 align-content: center;
}
/* span a is for most things,  li a is for the resume link*/
span a{
    text-decoration: underline;
}
li a{
    text-decoration: underline;
}

footer{
    text-align:center;
    margin: 30px 0px 0px 0px;
  
}
footer h4{
    width: auto;
    
}

.ft-head{

    border-top: 2px solid black;
}

.info-pt .col-6{
    padding-top:0px;
}
footer br{
    height:0px
}
li code{
    color : gray;
}

ul{
    list-style: none;
}
/*
.screenshot{
     height:auto;
     width: 100%;
}
*/
.img{
    height:auto;
    width: 100%;
}
.project-copy{
    vertical-align: center;
    padding:20px;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
}

.ca{
    background-color:salmon;
    border-top: 3px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-radius: 10px;
}

.cb{
    background-color:#ffa07a;
        border-top: 3px solid darkgray;
    border-bottom: 2px solid darkgray;
    border-radius: 10px;
}
.cs-button-container button{
    margin:100px 0px 50px 0px;
    font-size:3em;
    border: 4px solid salmon;
    border-radius: 20px;
    color: salmon;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    background-color: white;
}

.codeSnippet{
    display:none;
}







/*sticky navbar stuff */


/* Page content */
.content {
    padding: 16px;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }